name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      - id: kustomize-single
        uses: ./
        with:
          kustomization: tests/fixtures/overlays/*/kustomization.yaml
      - run: find ${{ steps.kustomize-single.outputs.directory }}
      - run: |
          cat <<EOF
          ${{ steps.kustomize-single.outputs.files }}
          EOF
      - run: test -f ${{ steps.kustomize-single.outputs.directory }}/tests/fixtures/overlays/development/generated.yaml
      - run: test -f ${{ steps.kustomize-single.outputs.directory }}/tests/fixtures/overlays/production/generated.yaml

      - id: kustomize-individual
        uses: ./
        with:
          kustomization: tests/fixtures/overlays/*/kustomization.yaml
          write-individual-files: true
      - run: find ${{ steps.kustomize-individual.outputs.directory }}
      - run: |
          cat <<EOF
          ${{ steps.kustomize-individual.outputs.files }}
          EOF
      - run: test -f ${{ steps.kustomize-individual.outputs.directory }}/tests/fixtures/overlays/development/v1_service_echoserver.yaml
      - run: test -f ${{ steps.kustomize-individual.outputs.directory }}/tests/fixtures/overlays/development/apps_v1_deployment_echoserver.yaml
      - run: test -f ${{ steps.kustomize-individual.outputs.directory }}/tests/fixtures/overlays/production/v1_service_echoserver.yaml
      - run: test -f ${{ steps.kustomize-individual.outputs.directory }}/tests/fixtures/overlays/production/apps_v1_deployment_echoserver.yaml

      - id: kustomize-single-with-extra-files
        uses: ./
        with:
          kustomization: tests/fixtures/overlays/*/kustomization.yaml
          extra-files: tests/fixtures/overlays/*/metadata.yaml
      - run: find ${{ steps.kustomize-single-with-extra-files.outputs.directory }}
      - run: |
          cat <<EOF
          ${{ steps.kustomize-single-with-extra-files.outputs.files }}
          EOF
      - run: test -f ${{ steps.kustomize-single-with-extra-files.outputs.directory }}/tests/fixtures/overlays/development/generated.yaml
      - run: test -f ${{ steps.kustomize-single-with-extra-files.outputs.directory }}/tests/fixtures/overlays/development/metadata.yaml
      - run: test -f ${{ steps.kustomize-single-with-extra-files.outputs.directory }}/tests/fixtures/overlays/production/generated.yaml
      - run: test ! -f ${{ steps.kustomize-single-with-extra-files.outputs.directory }}/tests/fixtures/overlays/production/metadata.yaml

      - id: kustomize-error-1
        uses: ./
        with:
          kustomization: tests/fixtures/invalid-1/kustomization.yaml
          ignore-kustomize-error: true
      - run: echo "$pretty_errors" && test -n "$pretty_errors"
        env:
          pretty_errors: ${{ steps.kustomize-error-1.outputs.pretty-errors }}

      - id: kustomize-error-2
        uses: ./
        with:
          kustomization: tests/fixtures/invalid-2/kustomization.yaml
          ignore-kustomize-error: true
      - run: echo "$pretty_errors" && test -n "$pretty_errors"
        env:
          pretty_errors: ${{ steps.kustomize-error-2.outputs.pretty-errors }}

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm run check
      - uses: int128/update-generated-files-action@2dfdf7949b8e414b6b014b636a2ebaa2f3c04fe9 # v2.77.0
